*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.log

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
# .gitignore
src/main/resources/application.yml
# IntelliJ
.idea/
*.iml
.env
# OS
.DS_Store


# Env
src/main/resources/.env
.env.*

# Docker
*.jar
docker-compose.override.yml

# Test/Reports
test-output/
coverage/
reports/

# GitHub Actions temp files
.github/workflows/*.log

# Optional: VSCode
.vscode/

# Optional: Mac auto files
__MACOSX/